
block header
  .wrapper
    .logo
      a(href="/") Rory Duncan
    .seperator
      nav
        ul.navlinks
          li
            a(href="/about")    about
          li
            a(href="/work")     work
          li
            a(href="/contact")  contact


