extends shared/content-layout.jade

block title
  title about.rory.duncan

block prepend page
  - var page = "about"

block fixed
  h1 About
  p me irl
  img(src="/images/rabbit-log.png", alt="me irl")

block body
  h3 me
  p
    | I live in Chico, CA. with my girlfriend and her dog. We like to meet
    | new cats, play video games, drink unsafe amounts of coffee, watch netflix, and hike in Upper Bidwell.

  h3 Faves
  p  Hayao Miyazaki and Wes Anderson Films, game development, angsty music, game jams, LOTR, eSports, learning new things, and awful memes.

  h3 Not Faves
  p The smell of cat food, not having coffee, and seeing this page:
    img(src="/images/nointernet.jpg", alt="Googl eChrome's 'unable to connect to the internet' page")
